extends layout

block content
  h1= title

  .jumbotron
    .text-right
      p This is the one and only bank started in Canada when people used to keep data into notebook for daily transactions. 
      p We are providing best customer service to canadians and immigrants to keep their money safe with us and make some money from it as well.
