//- File Name: contact.pug
//- Author's Name: Inderpreet
//- Website's Name: Bank_Inder
//- File Description: contact info of two branches of the bank

extends layout

block content
  h1= title
  
  
  .row
    .col-6
      .card
        .card-body
          h2.bg-secondary.text-white.text-center Main Branch
          p 107, Johnson Street, Toronto
          p Ontario, Canada.
    .col-6
      .card
        .card-body
          h2.bg-secondary.text-white.text-center Child Branch
          p 34, Magan Street, Vancouver
          p British Columbia, Canada.
    