//- File Name: error.pug
//- Author's Name: Inderpreet
//- Website's Name: Bank_Inder
//- File Description: error file to render error if any occcures

extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}
