//- File Name: footer.pug
//- Author's Name: Inderpreet
//- Website's Name: Bank_Inder
//- File Description: footer to join to layour which can appear in every pages of the website

h2.text-right
    p.p-2 Bank_Inderpreet @2020