//- File Name: index.pug
//- Author's Name: Inderpreet
//- Website's Name: Bank_Inder
//- File Description: home page of the website

extends layout

block content
  .jumbotron
    h1= title

  .jumbotron  
    p.text-center This is the bank to save and invest your money. You can secure money with us and have a great sleep along with benifits. 
