extends layout

block content
  .jumbotron
    h1= title
  //p Welcome to #{title}

  .jumbotron  
    h2.text-center This is the bank to save and invest your money. You can secure money with us and have a great sleep along with benifits. 
