//- File Name: layout.pug
//- Author's Name: Inderpreet
//- Website's Name: Bank_Inder
//- File Description: layout file to keep everything in one layout 

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js')

    link(href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Aclonica' rel='stylesheet')

    style.
      body {
      font-family: 'Sofia';font-size: 22px;
      }
      h1, h2, h3 {
      font-family: 'Aclonica';
      }



  body
    include header.pug
    block content
    include footer.pug
