//- File Name: projects.pug
//- Author's Name: Inderpreet
//- Website's Name: Bank_Inder
//- File Description: project file to show projects of the bank, which will be updated late on.

block content
  hr
  br
  hr
  //- h1= title
  p Welcome to #{title}

  .jumbotron.text-right  
    h5.p-5 Projects will be here soon.
